################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrossOverAssignment/bin
/CrossOverAssignment/obj/Debug
/StockExchangeService/obj
/StockExchangeService/bin
/packages
/CrossOverAssignment.DAL/obj
/CrossOverAssignment.DAL/bin
/CrossOverAssignment.Security/obj
/CrossOverAssignment.Security/bin
/CrossOverAssignment.Business/obj
/CrossOverAssignment.Business/bin
/packages
/CrossOverAssignment/App_Data
/CrossOverAssignment/obj/Release
/CrossOverAssignment.WebService/obj/Release
/CrossOverAssignment.WebService/bin
