################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrossOverAssignment/bin
/CrossOverAssignment/obj/Debug
/StockExchangeService/obj
/StockExchangeService/bin
